// header

header[role="banner"] {
  padding-top: @padding-base / 2;
}

header[role="banner"] .logo {
  font-weight: bold;
  font-size: @font-size-base * 1.2;

  a {
    color: @brand-color;
  }
}

header[role="banner"] .user-avatar {
  width: 32px;
  height: 32px;
  margin-left: 2rem;
  vertical-align: middle;
  border-radius: @border-radius-base;
}

header[role="banner"] nav {
  font-size: @font-size-base * 1.2;

  a {
    color: @text-color;
    margin-left: @padding-base;
    display: inline-block;
    line-height: 32px;
  }

  a:hover,
  a:active {
    color: @link-color;
  }
}