<header class="row row-spread" role="banner">
  <div class="logo">
    <a href="@routes.Application.index()">RepoFollow</a>
  </div>
  <nav>
    <img class="user-avatar" src="http://placehold.it/32/ffe100">
    <a href="@routes.Application.stream()" title="Home"><span class="octicon octicon-home"></span></a>
    <a href="@routes.Application.setup()" title="Search"><span class="octicon octicon-search"></span></a>
    <a href="@routes.Application.settings()" title="Settings"><span class="octicon octicon-gear"></span></a>
    <a href="@routes.Application.index()" title="Sign out"><span class="octicon octicon-sign-out"></span></a>
  </nav>
</header>