@(title: Option[String] = None, bodyAttributes: List[String] = Nil)(user: Option[User])(content: Html)

<!DOCTYPE html>

<html>
  <head>
    <title>@for(t <- title) { @t | } RepoFollow </title>
    @Html(org.webjars.play.RequireJS.setup("javascripts/main"))
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("octicons.css"))'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
  </head>
  <body @if(!bodyAttributes.isEmpty) {class="@(bodyAttributes.mkString(" "))"}>
    <div class="page">
      @for(u <- user) { @header(u) }
      
      <main class="layout">
        @for(t <- title) {
          <header class="row">
            <h1 class="cell cell-two-thirds">@t</h1>
          </header>
        }

        @content
      </main>
    </div>
  </body>

</html>
