@main("Settings") {
  @header()

  <main class="layout">
    <header class="row row-spread">
      <h1 class="cell cell-two-thirds">Following 4 repositories</h1>
      <nav class="section-nav cell cell-one-third">
        <a href="@routes.Application.setup()">Find more</a>
      </nav>
    </header>

    <section class="repos">
      <div class="repo">
        <div class="row">
          <div class="repo-title cell">
            <span class="octicon octicon-repo"></span>
            <a href="#" title="View apucacao/albatross on Github">
              <span class="repo-owner">apucacao</span>/<span class="repo-name">albatross</span>
            </a>
          </div>
          <div class="repo-follow-status cell">
            <button class="btn"><span class="octicon octicon-eye"></span> Unfollow</button>
          </div>
        </div>

        <ul class="repo-branches">
          <li class="repo-branch row">
            <span class="repo-branch-name cell">
              <span class="octicon octicon-git-branch"></span>
              <a href="#" title="View apucacao/albatross at 2.0.x on Github">2.0.x</a>
            </span>
            <span class="repo-follow-status cell">
              <button class="btn btn-tiny"><span class="octicon octicon-eye"></span> Unfollow branch</button>
            </span>
          </li>
          <li class="repo-branch row">
            <span class="repo-branch-name cell">
              <span class="octicon octicon-git-branch"></span>
              <a href="#" title="View apucacao/albatross at 1.1 on Github">1.1</a>
            </span>
            <span class="repo-follow-status cell">
              <button class="btn btn-tiny"><span class="octicon octicon-eye"></span> Unfollow branch</button>
            </span>
          </li>
          <li class="repo-branch row">
            <span class="repo-branch-name cell">
              <span class="octicon octicon-git-branch"></span>
              <a href="#" title="View apucacao/albatross at 1.0.x on Github">1.0.x</a>
            </span>
            <span class="repo-follow-status cell">
              <button class="btn btn-tiny"><span class="octicon octicon-eye"></span> Unfollow branch</button>
            </span>
          </li>
          <li class="repo-branch row">
            <span class="repo-branch-name cell">
              <span class="octicon octicon-git-branch"></span>
              <a href="#" title="View apucacao/albatross at 0.0.1 on Github">0.0.1</a>
            </span>
            <span class="repo-follow-status cell">
              <button class="btn btn-tiny btn-positive"><span class="octicon octicon-eye"></span> Follow branch</button>
            </span>
          </li>
        </ul>
      </div>
      <div class="repo">
        <div class="row">
          <div class="repo-title cell">
            <span class="octicon octicon-repo"></span>
            <a href="#" title="View apucacao/giggles on Github">
              <span class="repo-owner">apucacao</span>/<span class="repo-name">giggles</span>
            </a>
          </div>
          <div class="repo-follow-status cell">
            <button class="btn"><span class="octicon octicon-eye"></span> Unfollow</button>
          </div>
        </div>

        <ul class="repo-branches">
          <li class="repo-branch row">
            <span class="repo-branch-name cell">
              <span class="octicon octicon-git-branch"></span>
              <a href="#" title="View apucacao/albatross at react-refactor on Github">react-refactor</a>
            </span>
            <span class="repo-follow-status cell">
              <button class="btn btn-tiny"><span class="octicon octicon-eye"></span> Unfollow branch</button>
            </span>
          </li>
          <li class="repo-branch row">
            <span class="repo-branch-name cell">
              <span class="octicon octicon-git-branch"></span>
              <a href="#" title="View apucacao/albatross at master on Github">master</a>
            </span>
            <span class="repo-follow-status cell">
              <button class="btn btn-tiny"><span class="octicon octicon-eye"></span> Unfollow branch</button>
            </span>
          </li>
        </ul>
      </div>
      <div class="repo">
        <div class="row">
          <div class="repo-title cell">
            <span class="octicon octicon-repo"></span>
            <a href="#" title="View apucacao/headspace on Github">
              <span class="repo-owner">apucacao</span>/<span class="repo-name">headspace</span>
            </a>
          </div>
          <div class="repo-follow-status cell">
            <button class="btn"><span class="octicon octicon-eye"></span> Unfollow</button>
          </div>
        </div>
      </div>
      <div class="repo">
        <div class="row">
          <div class="repo-title cell">
            <span class="octicon octicon-repo"></span>
            <a href="#" title="View apucacao/albatross on Github">
              <span class="repo-owner">apucacao</span>/<span class="repo-name">albatross</span>
            </a>
          </div>
          <div class="repo-follow-status cell">
            <button class="btn"><span class="octicon octicon-eye"></span> Unfollow</button>
          </div>
        </div>

        <ul class="repo-branches">
          <li class="repo-branch row">
            <span class="repo-branch-name cell">
              <span class="octicon octicon-git-branch"></span>
              <a href="#" title="View apucacao/albatross at 2.0.x on Github">2.0.x</a>
            </span>
            <span class="repo-follow-status cell">
              <button class="btn btn-tiny"><span class="octicon octicon-eye"></span> Unfollow branch</button>
            </span>
          </li>
          <li class="repo-branch row">
            <span class="repo-branch-name cell">
              <span class="octicon octicon-git-branch"></span>
              <a href="#" title="View apucacao/albatross at 1.1 on Github">1.1</a>
            </span>
            <span class="repo-follow-status cell">
              <button class="btn btn-tiny"><span class="octicon octicon-eye"></span> Unfollow branch</button>
            </span>
          </li>
          <li class="repo-branch row">
            <span class="repo-branch-name cell">
              <span class="octicon octicon-git-branch"></span>
              <a href="#" title="View apucacao/albatross at 1.0.x on Github">1.0.x</a>
            </span>
            <span class="repo-follow-status cell">
              <button class="btn btn-tiny"><span class="octicon octicon-eye"></span> Unfollow branch</button>
            </span>
          </li>
        </ul>
      </div>
    </section>

  </main>

}
