@main("Stream") {
  @header()

  <main class="layout">
    <header class="row">
      <h1>Latest commits</h1>
    </header>
    <article class="commit row row-top">
      <a href="#" class="commit-authorship cell"><img src="http://placehold.it/44x44"></a>
      <div class="commit-details cell">
        <div>
          <span class="commit-message">Fix all the bugs</span>
        </div>
        <div class="commit-meta">
          <a href="#" class="commit-sha"><span class="octicon octicon-git-commit"></span> <code>6dcb09b</code></a>
          <time datetime="2011-04-14T16:00:49Z">2 days ago</time>
          by <a href="#" class="commit-author">apucacao</a>
          to <a href="#" title="View apucacao/albatross on Github"><span class="repo-owner">apucacao</span>/<span class="repo-name">albatross</span></a>
        </div>
      </div>
    </article>
    <article class="commit row row-top">
      <a href="#" class="commit-authorship cell"><img src="http://placehold.it/44x44"></a>
      <div class="commit-details cell">
        <div>
          <span class="commit-message">Fix all the bugs all the bugs all the bugs all the bugs all the bugs all the bugs all the bugs all the bugs all the bugs all the bugs all the bugs all the bugs all the bugs all the bugs all the bugs all the bugs all the bugs all the bugs</span>
        </div>
        <div class="commit-meta">
          <a href="#" class="commit-sha"><span class="octicon octicon-git-commit"></span> <code>6dcb09b</code></a>
          <time datetime="2011-04-14T16:00:49Z">2 days ago</time>
          by <a href="#" class="commit-author">apucacao</a>
          to <a href="#" title="View apucacao/albatross on Github"><span class="repo-owner">apucacao</span>/<span class="repo-name">albatross</span></a>
        </div>
      </div>
    </article>
    <article class="commit row row-top">
      <a href="#" class="commit-authorship cell"><img src="http://placehold.it/44x44"></a>
      <div class="commit-details cell">
        <div>
          <span class="commit-message">Fix all the bugs</span>
        </div>
        <div class="commit-meta">
          <a href="#" class="commit-sha"><span class="octicon octicon-git-commit"></span> <code>6dcb09b</code></a>
          <time datetime="2011-04-14T16:00:49Z">2 days ago</time>
          by <a href="#" class="commit-author">apucacao</a>
          to <a href="#" title="View apucacao/albatross on Github"><span class="repo-owner">apucacao</span>/<span class="repo-name">albatross</span></a>
        </div>
      </div>
    </article>
  </main>

}